@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainbg: hsl(233, 47%, 7%);
    --cardbg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --accent-op: hsla(277, 64%, 41%, 50%);
    --white: hsl(0, 0%, 100%);
    --main: hsla(0, 0%, 100%, 0.75);
    --stat: hsla(0, 0%, 100%, 0.6);
    --br: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: var(--main);
    background-color: var(--mainbg);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--white);
    font-size: 2.2rem;
}

h1 b {
    color: var(--accent);
}

main {
    background-color: var(--cardbg);

    display: flex;
}

p {
    color: var(--main);
    padding: 2rem 0 2rem 0;
    line-height: 1.5rem;
}

.text {
    margin: 2rem;
    align-self: center;
}

.stats-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.stat {
    color: var(--stat);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
}

.stat-number {
    color: var(--white);
    text-transform: none;
    padding-bottom: .4rem ;
}

.stat-text {
    color: var(--stat);
    font-size: .8rem;
    font-family: 'Lexend Deca', sans-serif; 
}




@media (max-width: 1000px) {
    main {
        flex-direction: column;
        max-width: 375px;
        margin: 1rem 0 1rem 0;
        border-radius: 0 0 var(--br) var(--br);
    }
    .image {
        min-height: 250px;
        background: linear-gradient(var(--accent-op), var(--accent-op)), url(./images/image-header-mobile.jpg);
        background-size: cover;

        border-radius: var(--br) var(--br) 0 0;
    }
    .stats-bar {
        flex-direction: column;

    }
    h1, p {
        text-align: center;
    }
}
@media (min-width: 1000px) {
    main {
        flex-direction: row-reverse;
        max-width: 1000px;
        min-height: 440px;
        border-radius: var(--br) 0 0 var(--br);
    }
    .image {
        /* ############################################# */
        min-width: 50%;
        background: linear-gradient(var(--accent-op), var(--accent-op)), url(./images/image-header-desktop.jpg);
        border-radius: 0 var(--br) var(--br) 0;
    }
    .stats-bar {
        padding-top: 1rem;
        flex-direction: row;
    }
    .text {
        margin-right: 5rem;
    }
}